

  @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&display=swap');



body {
    background:#eee;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
    padding-left:250px;
    background:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.1);
}

.header {
    float: left;
    margin-left: -250px;
    width: 250px;
    background: #f5f5f5;
    border-right: 1px solid rgba(0,0,0,.1);
   
}

.content-title__content-title--main{
    font-weight: bold;
}
.content-titles h2{
    color: rgba(88, 84, 84, 0.548);
    font-weight: bold;
}
.search {
    padding: 1rem;
    background: #f39c12;
}

.search-input {
    padding: .75rem 1rem;
    border: none;
    font-size:1.2em;
    width:100%;
    border-radius:2rem;
}

.title {
    font-size: 2em;
    font-weight: bold;
    border-bottom:3px solid #f39c12;
    padding-bottom:1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-transform: uppercase;
    background-color: #fff;
    justify-content: space-between;
    overflow-y: scroll;
    position: fixed;
    
}
.nav a:hover{
    background-color:#f39c12;
    color: #111;
    
}

.nav-links {
   
    margin-top: 2rem;
    
}
a:hover{
        background-color:#f39c12;
        color: #ffffff;
    
    }


.nav-item {
    font-size: 1.2rem;
    border-radius: 4px;
   padding:10px;
   margin-bottom: 10px;
   background-color: rgba(219, 218, 218, 0.932); 
}

.nav-item__accueil{
    margin-bottom: 10px;
    font-size: 1.2rem;
   border-bottom: #f39c12 2px solid;
   padding: 10px;
   background-color: rgba(219, 218, 218, 0.932); 
   border-radius: 4px;
} 

.page {
    padding: 5rem 2rem 2rem;
}

.content-focus {
    border-bottom: 3px solid #ccc;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-titles {
    width: 50%;
    font-size: 3em;
    margin-right: 2rem;
}

.content-title {
    max-width: 450px;
    margin-left: auto;
}

.content-picture {
    width: 50%;
    position: relative;
}
.picture-desc{
position: absolute;
bottom: 0;
left  :  0;
right: 0;
color:white;
padding-left: 20px;
background-color: rgba(17, 17, 17,0.3);

}
.rounded {
    border-radius: 10px;
    overflow: hidden;
}

.picture {
    width: 100%;
    display: block;
}

.content-quote {
    border-top: 3px solid #ccc;
    margin-top: 2rem;
}

.content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.content h3 {
    
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content ol {
    list-style-type: decimal;
    font-size: 1.1em;
    margin-left: 1.5em;
    line-height: 1.5;
}


articles{
    display: flex;
    height: 500px;
}  
   


.articles-container {
    margin-top: 2rem;
    box-sizing: border-box;
 
  border: 1px solid #eaeaea;
  padding: 25px;
display: flex;
flex-direction: row;/* pas obligatoire  car par défaut*/
flex-wrap: wrap;
gap: 4px;
}


.card {
    margin-bottom: 2rem;
}

.card-title {
    margin: 2rem 1rem;
    font-size: 1.7em;
    font-weight: bold;
}

.card-content {
    padding: 0 1rem;
}

.card-content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.card-footer {
    margin: 2rem 1rem;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.2em;
    font-weight: bold;
    border:2px solid #f39c12;
    border-radius: 50% ;
    color: #f39c12;
    margin-inline: 10px;
    transition:background-color 300ms;
}

.footer {
    background: #111;
    padding: 4rem 2rem;
    text-align: center;
    color: #aaa;
}


@media(max-width:1200px){
    .content-focus {
        display:block;
    }

    .content-titles {
        width: auto;
        text-align: center;
        margin-right: 0;
    }

    .content-title {
        max-width: none;
    }

    .content-picture {
        width: auto;
    }

    .articles-container {
      
        display:block;
    }
    .card {
        width:auto;
    }

}


@media(max-width:900px){
   

    header{
        position:static;
        width:auto;
        float:none;
        margin-left:0;
    }

    .container {
        width:96%;
        padding-left:0;
    }

    .page {
        padding: 0 1rem;
    }

    .nav {
        padding: 1rem;
    }

    .nav .title {
        display:none;
    }

    .nav-links {
        margin-top:0;
    }

    .nav-item {
        width:calc(33.3333% - .5rem);
        text-align: center;
    }

    .nav-item-link {
        margin-bottom: 0;
    }
   
        .btn {
            padding: 0.5rem 1rem;
            font-size: 1em;
            margin-inline: 5px;
        }
    
        .card-footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
